<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.0/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
<body>
   <nav class="w-full h-[70px] bg-black border-b-2">

    <div class="w-[1200px] h-[70px] mx-auto flex items-center justify-between">

        <div class="text-[25px] font-bold text-white">
            💈 BARBER
        </div>

        <div class="flex items-center">

            <a href="/index" class="text-[16px] text-white ml-[25px]">
                Bosh sahifa
            </a>

            <a href="/barberlar" class="text-[16px] text-white ml-[25px]">
                Sartaroshlar
            </a>

            <a href="/bronlarim" class="text-[16px] text-white ml-[25px]">
                Bronlarim
            </a>

            <a href="{% url 'profil' %}" class="text-[16px] text-white ml-[25px]">
                Profil
            </a>

        </div>

    </div>

</nav>
</body>

</html>