<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-black">


<div class="flex justify-center items-center min-h-screen">


    <div class="w-[400px] bg-white rounded-[15px] p-[30px] shadow">


        <h2 class="text-center text-[25px] font-bold">
            Xush kelibsiz!
        </h2>


        <p class="text-center text-[13px] text-gray-500 mt-[10px] mb-[25px]">
            Xarid qilish uchun hisob yarating
        </p>



        <form method="post">

            {% csrf_token %}



            <label class="text-[18px] font-bold">
                Email manzil
            </label>

            <input 
            type="email"
            name="email"
            placeholder="user@gmail.com"
            class="w-[340px] h-[45px] border border-gray-300 mt-[5px] mb-[15px] p-[10px] outline-none rounded-[5px]">



            <label class="text-[18px] font-bold">
                Login
            </label>

            <input 
            type="text"
            name="username"
            placeholder="username"
            class="w-[340px] h-[45px] border border-gray-300 mt-[5px] mb-[15px] p-[10px] outline-none rounded-[5px]">





            <label class="text-[18px] font-bold">
                Parol
            </label>

            <input 
            type="password"
            name="password"
            placeholder="00000000"
            class="w-[340px] h-[45px] border border-gray-300 mt-[5px] mb-[15px] p-[10px] outline-none rounded-[5px]">





            <label class="text-[18px] font-bold">
                Parolni tasdiqlash
            </label>

            <input 
            type="password"
            name="confirm_password"
            placeholder="00000000"
            class="w-[340px] h-[45px] border border-gray-300 mt-[5px] mb-[15px] p-[10px] outline-none rounded-[5px]">





            <div class="flex items-center gap-[8px] mb-[20px]">

                <input type="checkbox">

                <span class="text-[14px]">
                    Foydalanish shartlariga roziman
                </span>

            </div>




            <button 
            class="w-[340px] h-[45px] bg-indigo-600 text-white rounded-[8px] font-bold">

                Ro‘yxatdan o‘tish

            </button>



        </form>




        <p class="text-center text-[14px] mt-[20px]">

            Profilingiz bormi?

            <a href="/login" class="text-indigo-600 font-bold">
                Tizimga kirish
            </a>

        </p>



    </div>


</div>


</body>

</html>